
.icon-angularjs:before { content: '\e800'; } /* '' */
.icon-app:before { content: '\e801'; } /* '' */
.icon-app_all:before { content: '\e802'; } /* '' */
.icon-design:before { content: '\e803'; } /* '' */
.icon-drupal:before { content: '\e804'; } /* '' */
.icon-imagen_background_service:before { content: '\e805'; } /* '' */
.icon-infraestructure:before { content: '\e806'; } /* '' */
.icon-java:before { content: '\e807'; } /* '' */
.icon-logo-geneos:before { content: '\e808'; } /* '' */
.icon-moodle:before { content: '\e809'; } /* '' */
.icon-nodejs:before { content: '\e80a'; } /* '' */
.icon-odoo:before { content: '\e80b'; } /* '' */
.icon-oracle:before { content: '\e80c'; } /* '' */
.icon-plataform:before { content: '\e80d'; } /* '' */
.icon-plataform_all:before { content: '\e80e'; } /* '' */
.icon-postgresql:before { content: '\e80f'; } /* '' */
.icon-reactjs:before { content: '\e810'; } /* '' */
.icon-suite_crm:before { content: '\e811'; } /* '' */
.icon-team:before { content: '\e812'; } /* '' */
.icon-vue.js:before { content: '\e813'; } /* '' */
.icon-web:before { content: '\e814'; } /* '' */
.icon-wordpress:before { content: '\e815'; } /* '' */